<body>
    <header></header>
    <a href="/collections?collection=new_releases"><img src="{{ url_for('static', filename='/images/new_releases.png') }}" style="width:100%;height:40%;"></a>
    <header></header>
    <div style="text-align: left; margin-left: 5%;">
    <a href="/collections?collection=features"><img src="{{ url_for('static', filename='/images/collections/features.svg') }}"style="width:300px;height:auto;"></a>
    <a href="/collections?collection=short_films"><img src="{{ url_for('static', filename='/images/collections/short_films.svg') }}" style="width:300px;height:auto;"></a>
    <a href="/collections?collection=student_films"><img src="{{ url_for('static', filename='/images/collections/student_films.svg') }}" style="width:300px;height:auto;"></a>
</div>
</body>