<!DOCTYPE html>
<html lang = "en">
    <body>
        <h1 style="text-align: left"><a href="/">logo</a></h1>
        <form method = post>
            <fieldset>
                <legend>Login</legend>
                {{ form.hidden_tag() }}
                <div style = font-size:20px; font-weight:bold; magin-left:150px;>
                {{ form.email.label }}
                {{ form.email }}<br>
                {{ form.password.label }}
                {{ form.password }}<br>
                {{ form.submit }}</div>  
                {% for messages in form.email.errors %}
                    <div>{{message}}</div>
                {% endfor %}
                {% for message in form.password.errors %}
                    <div>{{message}}</div>
                {% endfor %}
            </fieldset>
        </form>
    </body>